.Actor {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 180px;
  height: 380px;
  background-color: rgb(42, 42, 128);
  -webkit-box-shadow: 3px 2px 2px 0px rgba(41, 37, 37, 0.38);
  -moz-box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.38);
}

.Actor:last-child {
  margin: 0;
}

.Actor-img {
  height: 280px;
}

.Actor-img img {
  height: 100%;
  width: 100%;
}

.Actor-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(209, 209, 209);
}

.Movie-details {
  margin: 0 auto;
}

.actors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Actor-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.Char-name {
  margin: 0;
}

.Actor p {
  text-align: left;
}
