.Movie {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 50rem;
  margin: 0 2rem 2rem 0;
  -webkit-box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 8px 7px 7px 0px rgba(0, 0, 0, 0.38);
  transition: 0.3s;
}

.Movie-container a {
  text-decoration: none;
}

.Movie:hover {
  transform: translateY(-3px);
}

.Movie-content {
  text-align: left;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #051229;
  color: rgb(214, 214, 214);
}

.movie-desc {
  margin-top: 1rem !important;
}

.vote-flex {
  display: flex;
}

.vote-flex-num {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-flex-text {
  margin-left: 1rem;
}

.vote-flex-text p {
  font-style: italic;
}

.vote-p {
  display: inline-block;
  font-size: 1.1rem;
  position: relative;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(17, 0, 39);
  padding: 0.7rem;
}

.Movie-content a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.Movie-content h2 {
  margin: 0;
}

.Movie-content p {
  margin: 0;
}

.Movie img {
  align-self: center;
}
