.Search {
  background-color: #fff;
  padding: 0.5rem 0;
}

.Search-container {
  width: 40%;
  margin: 0 auto;
}

.Search-container form {
  display: flex;
  justify-content: space-between;
}

.Search input {
  border: none;
  font-size: 1rem;
  outline: none;
  width: 70%;
}

.Search button {
  border: none;
  background-color: rgb(0, 28, 32);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all;
}

.Search button:hover {
  background-color: rgb(4, 73, 83);
}

@media only screen and (max-width: 1000px) {
  .Search-container {
    width: 65%;
  }
}
